body {
    margin-left: 15%;
    margin-right: 15%;

}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

}

#header {
    font-family: Poppins;
    font-style: normal;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070f18;
    margin-top: 40px;
    margin-bottom: 40px;
  
}

#menu{
    text-align: right;
    margin-top: 49px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

#buttonCta {
    background: #1F7CFF;border-radius: 50px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 10px 25px 10px 25px;
   
}

#headerCta p {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    color:#575455;
    ;   
}

#headerCta h1 {
    font-family: Poppins;
    font-style: normal;
    font-size: 45px;
    font-weight: bold;
    
    color: black;
    

}

#headerImg {
    margin-left: 42px;

}

#headerImg img {
    width: 100%;
}

.headerLogo {
    text-align: center;
}

#clients {
    margin-top: 50px;
    margin-bottom: 50px;
}

#headerClientText{

    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    color: #070f18;

}

h2.red{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    color: #F75C4E;
}

h1.black {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    font-style: normal;
    color: black;
    margin-top: 0;


}

h3.gray {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    color: #575455;
    margin-top: 0;


}

.textCenter{
    text-align: center;
}

#services .textCenter h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-style: normal;
    color:#070F18;
    5;
  

}

#services .textCenter p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    font-style: normal;
    color:#575455;
      

}

#contactImg img {
    width: 100%;

}

#contactForm {
    margin-left: 75px;
    text-align: left;
    font-style: normal;
}

#contact {
    margin-top: 100px;
}

#contactForm input {
    background:  #F5F6FB;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    color: #575455;
    border: 0;
    width: 70%;
    padding: 15px 35px 15px 35px;
}

#contactForm button{
    background: #1F7CFF;
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 0;
    color: white;
    


    
}